#
# Example systemd configuration file for metrics2mqtt
#
# 1. Change 'USERNAME' in the 3 instances below to your username on this machine. It is preferable to run metrics2mqtt as a user other than root.
# 2. As root, copy this file to /etc/system.d/system/metrics2mqtt.service
# 3. Test the service with: sudo systemctl enable metrics2mqtt.service
# 4. To always run on boot, use: sudo systemctl enable metrics2mqtt.service

[Unit]
Description=Publish cross-platorm system performance metrics to a MQTT broker.
After=network.target

[Service]
ExecStart=/home/USERNAME/.local/bin/metrics2mqtt --cpu=60 --vm --du="/" -vvvv
WorkingDirectory=/home/USERNAME/.local/bin
StandardOutput=inherit
StandardError=inherit
Restart=always
User=USERNAME

[Install]
WantedBy=multi-user.target
